.commute
    h1 Commute Time
    h3
        i.fa.fa-bicycle &nbsp;<span>#{bikingTime}</span>
    h3
        i.fa.fa-car &nbsp;<span>#{drivingTime}</span>
    h3
        i.fa.fa-user &nbsp;<span>#{walkingTime}</span>
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
