.datetime
  br
  h6.time <span id="hour"></span>:<span id="minute"></span>:<span id="second"></span>
  h2.dayofweek <span id="dayOfWeek"></span>
  h4.datestring <span id="month"></span> <span id="date"></span>, <span id="year"></span>
