.events
  h1 You have XX Events Today
    .row
      .col-sm-12
        h3 <span>6:30 AM</span> Event Title Here
    .row
      .col-sm-12
        h3 <span>6:30 AM</span> Event Title Here
    .row
      .col-sm-12
        h3 <span>6:30 AM</span> Event Title Here
    .row
      .col-sm-12
        h3 <span>6:30 AM</span> Event Title Here
    
